//https://github.com/webpack-contrib/sass-loader/issues/40
// allows webpack to resolve fonts
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$font-family-sans-serif: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Navbar Basics
$navbar-height:                 60px;
$navbar-default-color:          #999;
$navbar-default-bg:             rgba(255,255,255,.85);

// Navbar links
$navbar-default-link-color:        #222;
$navbar-default-link-hover-color:  #222;
$navbar-default-link-active-color: #222;
$navbar-default-link-active-bg:    transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:     #222;
$navbar-default-toggle-border-color: #222;

// Buttons
$btn-font-weight:                400;

$btn-default-color:              #222;
$btn-default-bg:                 transparent;
$btn-default-border:             #222;

// Borders
$border-radius-base:  0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
